# Ignore node_modules folder
node_modules

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore Dockerfile, README.md, and .dockerignore itself
Dockerfile
README.md
.dockerignore

# Ignore build output folders
dist
build

# Ignore environment-specific files
.env
*.env

# Ignore .git folder and git-related files
.git
.gitignore

# Ignore OS-specific files (like macOS Finder metadata)
.DS_Store

# Ignore dependency lock files (if not needed for the build)
yarn.lock
package-lock.json
